<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
   <!--// <script src=""></script>-->
    <link href="../style/stylesheet.css" rel="stylesheet">
    <link href="../bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Title</title>
</head>
<body class="fullScreen">

<!--<div class="fullScreen"></div>-->


    <div class="container-fluid matter">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 column" >
                <span class="categoryName  alg"> Category 1</span>
                    <h6>hello</h6>




            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 column" >
                <span class="categoryName  alg"> category 2</span>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 column" >
                <span class="categoryName  alg"> category 3</span>

            </div>
        </div>

    </div>


</body>
</html>